[MASTER]
ignore=CVS
ignore-patterns=test_.*.py

[MESSAGES CONTROL]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # too-few-public-methods
    W0703, # broad-except

[REPORTS]
output-format = colorized
reports=no

[BASIC]
good-names=i,j,k,ex,Run,_
max-line-length=100

[FORMAT]
max-line-length=100

[DESIGN]
max-attributes=15

[IMPORTS]
known-standard-library=
    logging,
    requests,
    facebook

[TYPECHECK]
